logs/
.idea/
venv/
images/
.mypy_cache/
config/

# EVE Online Static Data Export (SDE) can be found on their website as a bundled zip
# (https://developers.eveonline.com/resource), however this data is unprocessed
# On the UNIWIKI the data is available as prepared .csv files
# (https://wiki.eveuniversity.org/Static_Data_Export)
resources/eve_data

*.ignore.py

python
.env
config*.json
resources/application_config.json
tests/test_config.json
user_overwrites.json
discord_ids*.json
credentials.json
accounting-bot-*.json
*.zip